{% extends 'base.html' %}
{% block title %}
{{ project.name }}
{% endblock %}
{% block content %}

<h1>{{ project.name }}</h1>

<p>

    <a href="{% url 'project_edit' project.id %}" class="btn btn-edit">
        Редактировать проект
    </a>

    <a href="{% url 'project_delete' project.id %}" class="btn btn-delete">
        Удалить проект
    </a>

    <a href="{% url 'task_add' project.id %}" class="btn btn-edit">
        Создать задачу
    </a>

</p>

<div class="task-card">

    <p>
        <strong>Описание:</strong>
    </p>

    <p>
        {{ project.description }}
    </p>

    <p>
        <strong>Дата начала:</strong>
        {{ project.start_date }}
    </p>

    <p>
        <strong>Дата окончания:</strong>

        {% if project.end_date %}
            {{ project.end_date }}
        {% else %}
            Не указана
        {% endif %}
    </p>

    <hr>

    <h2>Задачи проекта</h2>

    {% for task in tasks %}

<div class="task">

    <h3>{{ task.summary }}</h3>

    <p>
        <strong>Статус:</strong>
        {{ task.status.title }}
    </p>

    <p>
        <a href="{% url 'task_detail' task.id %}">
            Подробнее
        </a>
    </p>

    <p>
        <a href="{% url 'task_edit' task.id %}">
            Редактировать
        </a>
    </p>

    <p>
        <a href="{% url 'task_delete' task.id %}">
            Удалить
        </a>
    </p>

</div>

{% empty %}

<p>Задачи отсутствуют.</p>

{% endfor %}

</div>

{% endblock %}