{% extends 'base.html' %}

{% block title %}
Подробности задачи
{% endblock %}

{% block content %}

<h1>Подробности задачи</h1>

<div class="task-card">

    <h2>{{ task.description }}</h2>

    <p>
        <strong>Статус:</strong>
        {{ task.get_status_display }}
    </p>

    <p>
        <strong>Дата выполнения:</strong>

        {% if task.due_date %}
            {{ task.due_date|date:"d.m.Y" }}
        {% else %}
            не указана
        {% endif %}
    </p>

    <hr>

    <h3>Подробное описание</h3>

    <p class="details">
        {{ task.details }}
    </p>

</div>

{% endblock %}