<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Подробности задачи</title>

    <style>
        body {
            font-family: Arial;
            background-color: #f3f3f3;
            padding: 20px;
        }

        .task-card {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 700px;
        }

        h1 {
            color: darkblue;
        }

        .details {
            white-space: pre-line;
        }
    </style>
</head>

<body>

    <h1>Подробности задачи</h1>

    <p>
        <a href="/">На главную</a>
    </p>

    <div class="task-card">
        <h2>{{ task.description }}</h2>

        <p>
            <strong>Статус:</strong>
            {{ task.get_status_display }}
        </p>

        <p>
            <strong>Дата выполнения:</strong>

            {% if task.due_date %}
                {{ task.due_date|date:"d.m.Y" }}
            {% else %}
                не указана
            {% endif %}
        </p>

        <hr>

        <h3>Подробное описание</h3>

        <p class="details">
            {{ task.details }}
        </p>
    </div>

</body>

</html>